{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    @media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
</style>
{% endblock css %}
    

{% block body %}
    <section style="background-color: #eee;">
        <div class="container-fluid py-5">
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 col-xl-6 mb-4 mb-lg-0">
                                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                        <img src="{{ product.image.url }}"
                                            class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);">
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5>{{ product.title }}</h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>{{ product.likes }}</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>{{ product.category.title }}</span>
                                    </div>
                                    <!-- <div class="mb-2 text-muted small">
                                        <span>Unique design</span>
                                        <span class="text-primary"> • </span>
                                        <span>For men</span>
                                        <span class="text-primary"> • </span>
                                        <span>Casual<br /></span>
                                    </div> -->
                                    <p class="text-truncate mb-4 mb-md-0">
                                        {{ product.text }}
                                    </p>
                                    <div class="d-flex flex-row align-items-center mb-1">
                                        <h4 class="mb-1 me-1">${{ product.price }}</h4>
                                        <span class="text-danger"><s>${{ product.price|add:1028 }}</s></span>
                                    </div>
                                    <h6 class="text-success">Free shipping</h6>
                                    <div class="d-flex flex-column mt-4">
                                        <form method="POST" class="d-flex">
                                            {% csrf_token %}
                                            <input type="number" name="count" min="0" max="10" value="1" class="form-control me-3 w-25" id="">
                                            <button name="button" value="formShop" class="btn btn-primary btn-sm" type="submit">Sepete Ekle</button>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- YORUMLAR -->
                    <section style="background-color: #d4d4d4;">
                        <div class="container my-5 py-5">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-12 col-lg-10">
                                    <h2>Yorumlar</h2>
                                    <div class="card text-dark">
                                        
                                        
                                        {% for i in comments %}
                                        <div class="card-body p-4">
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar"
                                                    width="60" height="60" />
                                                <div>
                                                    <h6 class="fw-bold mb-1">{{ i.user.username }} / <span class="text-muted">{{ i.user.get_full_name }}</span></h6>
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <div>
                                                            <h5>{{ i.title }}</h5>
                                                        </div>
                                                        <div class="d-flex">
                                                            <p class="mb-0">
                                                                {{ i.date_now }}
                                                                <span class="badge bg-success">Approved</span>
                                                            </p>
                                                            <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                                            <a href="#!" class="text-success"><i class="fas fa-redo-alt ms-2"></i></a>
                                                            <a href="#!" class="link-danger"><i class="fas fa-heart ms-2"></i></a>
                                                        </div>
                                                    </div>
                                                    <p class="mb-0" style="line-break: anywhere;">
                                                        {{ i.text }}
                                                    </p>
                                                    <div class="text-success">
                                                        Puan: {{ i.like }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    
                                        <hr class="my-0" style="height: 1px;" /> 
                                        {% endfor %}
                                            
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-10 mt-5 p-3 bg-dark" style="border: 4px solid rgb(43, 23, 23);">
                                    <h2 class="text-white">Yorum Yap</h2>
                                    
                                    {% if request.user.is_authenticated %}
            
                                    <form method="POST">
                                        {% csrf_token %}
                                        <select name="like" required class="form-select mb-2" aria-label="Default select example">
                                            <option selected value="puan">Puanla</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                        
                                        {% if hata %}
                                            <div class="text-danger">{{ hata }}</div>
                                        {% endif %}
                                            
                                        <div class="form-floating mb-3">
                                            <input type="text" name="title" class="form-control" id="floatingInput" placeholder="Yorum Konusu">
                                            <label for="floatingInput">Yorum Konusu</label>
                                        </div>
                                        <div class="form-floating">
                                            <textarea class="form-control" name="text" placeholder="Yorum yaz" id="floatingTextarea2"
                                                style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Yorum</label>
                                        </div>
                                        <button type="submit" name="button" value="formComment" class="btn btn-success mt-2">
                                            Paylaş
                                        </button>
                                    </form>
                                    {% else %}
                                    <a href="/register/" class="text-success">Yorum yapmak için kaydol</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            
        </div>
    </section>
{% endblock body %}
    