{% extends 'base.html' %}
{% load static %}


{% block body %}
    
<main class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Carousel wrapper -->
            <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
            
                <!-- Inner -->
                <div class="carousel-inner">
                    <!-- Single item -->
                    <div class="carousel-item active">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
                            alt="Sunset Over the City" />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </div>
            
                    <!-- Single item -->
                    <div class="carousel-item">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
                            alt="Canyon at Nigh" />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
            
                    <!-- Single item -->
                    <div class="carousel-item">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
                            alt="Cliff Above a Stormy Sea" />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                    </div>
                </div>
                <!-- Inner -->
            
                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- Carousel wrapper -->
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <section style="background-color: #eee;">
                <div class="container py-5">
                    <h2>Popüler Ürünler</h2><hr>
                    <div class="row">
                        
                        {% for i in products %}
                        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="d-flex justify-content-between p-3">
                                    <p class="lead mb-0">{{ i.user }}</p>
                                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                                        style="width: 35px; height: 35px;">
                                        <p class="text-white mb-0 small">x4</p>
                                    </div>
                                </div>
                                <a href="/detail/{{ i.id }}/">
                                    <img src="{{ i.image.url }}" class="card-img-top" alt="Laptop" />
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="small"><a href="#!" class="text-muted">{{ i.category.title }}</a></p>
                                            <p class="small text-danger"><s>${{ i.price|add:+1028 }}</s></p>
                                        </div>
                        
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0">{{ i.title }}</h5>
                                            <h5 class="text-dark mb-0">${{ i.price }}</h5>
                                        </div>
                        
                                        <div class="d-flex justify-content-between mb-2">
                                            <p class="text-muted mb-0">Comments: <span class="fw-bold">{{ i.comments_number }}</span></p>
                                            <div class="ms-auto text-warning">
                                                <b>{{ i.likes }}</b>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                            
                    </div>

                    <h2>En Çok Beğenilenler</h2>
                    <hr>
                    <div class="row">
                        
                        {% for i in products %}
                        <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="d-flex justify-content-between p-3">
                                    <p class="lead mb-0">{{ i.user }}</p>
                                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                                        style="width: 35px; height: 35px;">
                                        <p class="text-white mb-0 small">x4</p>
                                    </div>
                                </div>
                                <a href="/detail/{{ i.id }}/">
                                    <img src="{{ i.image.url }}" class="card-img-top" alt="Laptop" />
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <p class="small"><a href="#!" class="text-muted">{{ i.category.title }}</a></p>
                                            <p class="small text-danger"><s>${{ i.price|add:+1028 }}</s></p>
                                        </div>
                        
                                        <div class="d-flex justify-content-between mb-3">
                                            <h5 class="mb-0">{{ i.title }}</h5>
                                            <h5 class="text-dark mb-0">${{ i.price }}</h5>
                                        </div>
                        
                                        <div class="d-flex justify-content-between mb-2">
                                            <p class="text-muted mb-0">Comments: <span class="fw-bold">{{ i.comments_number }}</span></p>
                                            <div class="ms-auto text-warning">
                                                <b>{{ i.likes }}</b>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                            
                    </div>
                </div>
            </section>
        </div>
        <div class="col-4 mt-5">
            <h2>Category</h2><hr>
            {% include 'part/_sidenav.html' %}
        </div>
    </div>
</main>

{% endblock body %}
    